<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macrorecapp">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".features.motioncontrol.MotionControl"/>
        <activity android:name=".features.rotary.RotaryPhotoSettings" />
        <activity android:name=".features.livecontrol.LiveControl" />
        <activity android:name=".features.cloud.accountsettings.LIIChangeVerification" />
        <activity android:name=".features.cloud.accountsettings.ChangeLogInInformation" />
        <activity android:name=".features.cloud.Privacy" />
        <activity android:name=".features.cloud.accountsettings.ConnectInstagram" />
        <activity android:name=".features.cloud.accountsettings.ConnectFacebook" />
        <activity android:name=".features.cloud.accountsettings.ConnectGoogle" />
        <activity android:name=".features.cloud.accountsettings.ConnectSocialMedia" />
        <activity android:name=".features.cloud.AccountSettings" />
        <activity android:name=".features.rotary.RotaryVideoSettings" />
        <activity android:name=".features.rotary.RotaryMode" />
        <activity android:name=".features.authentication.AccountVerification" />
        <activity android:name=".features.cloud.PersonalInformation" />
        <activity android:name=".settings.ContactRequest" />
        <activity android:name=".settings.ReportBug" />
        <activity android:name=".settings.GiveAdvice" />
        <activity android:name=".settings.Customize" />
        <activity android:name=".settings.DeviceControl" />
        <activity android:name=".features.authentication.ResetPassword" />
        <activity android:name=".features.cloud.MyCloud" />
        <activity android:name=".features.authentication.ForgotPassword" />
        <activity android:name=".features.MainPage" />
        <activity android:name=".settings.Settings" />
        <activity android:name=".SearchDevice" />
        <activity android:name=".features.authentication.login.LoginWithInstagram" />
        <activity android:name=".features.authentication.login.LoginWithFacebook" />
        <activity android:name=".features.authentication.login.LoginWithGoogle" />
        <activity android:name=".features.authentication.register.CreateAccount" />
        <activity android:name=".features.authentication.login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>